<%- include('header') -%>

<div>
    <%= qcm.name %>
</div>

<div>
    <%= qcm.subject %>
</div>

<div>
    <%= qcm.nbpoints %>
</div>
<div>
    <ul>
    <% for (let question of qcm.questions)  { %>
        <li>
            <%= question.nom %>
        </li>
        <ul>
            <% for (let reponse of question.reponses)  { %>
                <li>
                    <%= reponse.nom %>
                </li>

            <% } %>
        </ul>
        <li>
            <p>Bonne réponse : <% question.reponses.non %> </p>
        </li>
    <% } %>
    </ul>
</div>


<%- include('footer') -%>